# REVISI: Fri 29 Nov 2024 15:00
# REVISI: Fri 29 Nov 2024 10:00
# REVISI: Fri 29 Nov 2024 05:00
# REVISI: Fri 29 Nov 2024 00:00
# STARTX: Thu 28 Nov 2024 17:00

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
dist/
eggs/
.eggs/
*.egg-info/
.installed.cfg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Virtualenv
venv/
ENV/

# MkDocs documentation
site/

# Miscellaneous
.mkdocs-env/
*.tmp
.DS_Store
*.swp

